html {
    font-family: Helvetica, Roboto, Ubuntu Light, "sans-serif";
    font-size: 10px;
}
.container {
    max-width: 100%;
    display: grid;
    font-size: 1.3rem;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "b ct ct ct"
                         "cm ct ct ct";
}
.branches {
    grid-area: b;
}
.contents {
    grid-area: ct;
    max-height: 75vh;
    padding: 1rem;
    overflow-y: auto;
    border: 2px dashed #dedede;
    border-radius: 8px;
}
.commits {
    grid-area: cm;
}
.not-found {
    font-family: Helvetica, Roboto, Ubuntu Light, "sans-serif";
    font-size: 2.5rem;
    text-align: center;
    vertical-align: center;
}
.file-view__contents {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.commits__commit._active,
.branches__branch._active {
    background-color: #dedede;
    border-radius: 8px;
}
.breadcrumbs {
    list-style: none;
    display: flex;
}
.breadcrumbs__breadcrumb:not(._active) {
    background-color: #dedede;
    border-radius: 4px;
    padding: 0 .8rem;
    cursor: pointer;
    margin: 0 5px;
}
.breadcrumbs .breadcrumbs__breadcrumb:first-child {
    margin-left: 0;
}